<table>
    <thead>
        <tr>
            <th [attr.colspan]='columnas'>Ciclista</th>
        </tr>
    </thead>
    <tr *ngIf="visibles">
        <td>Nombre</td>
        <td>{{alumno.nombre}}</td>
    </tr>
    <tr *ngIf="visibles">
        <td>Apellidos</td>
        <td>{{alumno.apellidos}}</td>
    </tr>
    <tr *ngIf="visibles">
        <td>Dirección</td>
        <td>{{alumno.direccion}}</td>
    </tr>
    <tr *ngIf="visibles">
        <td>Edad</td>
        <td>{{alumno.edad}}</td>
    </tr>
    <tr *ngIf="visibles">
        <td>Sexo</td>
        <td>{{alumno.sexo}}</td>
    </tr>
</table>
<br /> 
<button (click) = "alternar2()">
    {{visibles ? "Ocultar" : "Mostrar"}} Detalle
</button>
